// Place all the styles related to the blogs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

html {
  height: 100%;
}

body {
  height: 100%;
  width: 400px;
  padding: 0;
  background-color: ghostwhite;
  font-family: Arial, Helvetica, sans-serif;

}

header {
    width: 340%;
    background-color: #8a3ab9;
    height: 12.2%;
    margin: 0;
    font-family: tahoma;
  }

  .navbar{
    padding-top: 15px;
  }

  .col-md-offset-4{
    padding-bottom: 10px;
    padding-top: 10px;
  }

  .container-fluid{
    margin-left: 10px;
  }
  
  footer {
    height: 10%;
    width: 100%;
    background-color: #cd486b;
    color: white;
    font-size: 15px;
    position: fixed;
    bottom: 0;
    text-align: center;
  }


  .notice {
    color: green;
  }
  
  .field_with_errors {
    padding: 2px;
    background-color: red;
    display: table;
  }
  
  .error_explanation {
    width: 450px;
    border: 2px solid red;
    padding: 7px 7px 0;
    margin-bottom: 20px;
    background-color: #f0f0f0;
  }